<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>

    <a href="{{ url_for('main.novo_usuario') }}">Cadastrar no Usuário</a>
    <hr>

    {% if users %}
        <ul>
            {% for u in users %}
                <li>{{ u.nome }} - {{ u.email }}</li>
                {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum usuário cadastrado.</p>
    {% endif %}
</body>
</html>